/*================ Trusted ================*/
.homepage__trusted {
    background-color: #fafafa;
}

.homepage__trusted .trusted__content span {
    font-family: var(--bold-font);
    color: #b5b6ba;
}