.explore .explore__content .explore__item .explore__item-img::after{
    border-bottom: 2px solid #c5c6c9;
    content: "";
    padding: 0 0 8px;
    position: absolute;
    right: 50%;
    top: 45px;
    transform: translateX(50%);
    width: 48px;
    transition:  all .2s ease-in-out;
}

.explore .explore__content .explore__item:hover .explore__item-img::after{
    border-color: #1dbf73;
    width: 88px;
}