.categories__explore .container h1 {
    color: #404145;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.2;
}

.categories__explore .container .explore__content .item h1 {
    color: #222325;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
    margin: 20px 0;
}
.categories__explore .container .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: -10px;
    margin-right: -10px;
}

.categories__explore .container .content .item {
    margin-bottom: 15px;
    padding: 10px;
    width: 25%;
}
.categories__explore  .container .content .item img {
    border-radius: 10px;
    max-height: 200px;
    width: 100%;
}
.categories__explore  .container .content .item p {
    color: #62646a;
    display: block;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 0;
}
.categories__explore .container .content .item p a {
    border-radius: 7px;
    color: #62646a;
    display: block;
    margin-left: -10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-top: 10px;
}