.name__cate {
    background: none;
    white-space: nowrap;

    border-radius: 4px;
    border: 1px solid #dadbdd;
    color: #222325;
    font-size: 16px;
    font-weight: 550;
    margin: 0 6px 0 0;
    padding: 6px 12px;
    text-decoration: none;
}

.tick svg {
    width: 11px;
    height: 7px;
    color: red;
}
@media (min-width: 992px){
.categories__dropdown{
    flex: 0 0 auto;
    width: 50%;
}}



