/*================ VARIABLE CSS ================*/

/*================ Fonts ================*/
@font-face {
  font-family: "MacanRegular";
  src: url('./assets/fonts/MacanPanWeb-Regular.ttf');
}

@font-face {
  font-family: "MancanMedium";
  src: url('./assets/fonts/MacanPanWeb-Medium.ttf');
}

@font-face {
  font-family: "MacanBold";
  src: url('./assets/fonts/MacanPanWeb-Bold.ttf')
}

@font-face {
  font-family: "MacanSemiBold";
  src: url('./assets/fonts/MacanPanWeb-Semibold.ttf');
}

@font-face {
  font-family: "MacanExtraBold";
  src: url('./assets/fonts/MacanPanWeb-Extrabold.ttf');
}

@import url('https://fonts.cdnfonts.com/css/domaine-display-narrow');

@import url('https://fonts.cdnfonts.com/css/helvetica-255');


/*================ VARIABLE CSS ================*/
:root {

  /*============ Colors ===========*/
  --primary-color: #1dbf73;
  --text-white: #fff;
  --text-primary-color: #74767e;
  --text-secondary-color: #404145;
  --text-bland-color: #62646a;
  --links-color: #446ee7;
  --background-dark-color: #222325;

  /*=========== Font and typography ===========*/
  --regular-font: 'MacanRegular', Helvetica, Arial, sans-serif;
  --medium-font: "MacanMedium", Helvetica, Arial, sans-serif;
  --bold-font: 'MacanBold', Helvetica, Arial, sans-serif;
  --semi-bold-font: 'MacanSemiBold', Helvetica, Arial, sans-serif;
  --extra-bold-font: "MacanExtraBold", Helvetica, Arial, sans-serif;
  --domaine-font: 'Domaine Display Narrow', sans-serif;

  --font-size-small: 14px;
  --font-size-medium: 16px;
  --font-size-medium-2: 20px;
  --font-size-medium-3: 24px;
  --font-size-large: 32px;
  --font-size-super-large: 48px;
}



/*================ BASE ================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:focus-visible {
  outline: none;
}

body,
button,
input,
textarea {
  background-color: #fff;
  font-family: var(--regular-font);
  font-size: var(--font-size-medium);
}

.domaine__font {
  font-family: var(--domaine-font);
  font-weight: 500;
}

h2{
  font-size: var(--font-size-large);
  font-family: var(--bold-font);
  color: var(--text-secondary-color);
}

h4 {
  font-size: var(--font-size-medium-2);
  font-family: var(--bold-font);
  line-height: 140%;
}

h4 small {
  font-size: var(--font-size-small);
  font-family: var(--regular-font);
  display: block;
  line-height: 20px;
}

/*================ RESPONSIVE ================*/

/*========= Defauit (for mobile devices and more) ========= */
.container {
  max-width: 100%;
}

/*========= Desktop Devices ========= */
@media only screen and (min-width: 1760px) {}

@media only screen and (min-width: 1160px) {
  .container {
    max-width: 1400px;
  }
}

/*========= Tablet Devices ========= */
@media only screen and (min-width: 600px) {

  h4 {
    font-size: var(--font-size-medium-3);
    line-height: 130%;
  }

}